<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.navideck.universal_ble">
   <uses-permission
       android:name="android.permission.BLUETOOTH"
       android:maxSdkVersion="30" />
   <uses-permission
       android:name="android.permission.BLUETOOTH_ADMIN"
       android:maxSdkVersion="30" />   
</manifest>
